<div class="main">
    <div class="d-xl-flex justify-content-between error-container">
        <div class="message-error">
            <h1>Ooops...</h1>
            <h2>Page not found</h2>
            <p>
                La pagina que estas buscando no existe o tiene otro tipo de error, 
                por favor vuelva a la pagina anterior
            </p>
            <button class="btn btn-primary" (click)="goBack()">Volver</button>
        </div>
        <div class="number-error">
            <h2 class="m-0">Error</h2>
            <h1>404</h1>
            <h3>¡Page Not Found!</h3>
        </div>
    </div>
</div>
