.inbox {
  width: 100%;
  padding: 3rem 7rem 6rem 7rem;
}
.inbox > div > h2 {
  color: #2c5f52;
}

.environment-container {
  margin-top: 2.5rem;
}

.environment-container > h5 {
  color: #101916;
}

.task-container {
  transition: opacity 0.25s ease;
}

.check {
  background-image: url(../../assets/svg/circle-regular.svg);
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.4;
  transition: background-image 0.2s ease-in-out;
  margin-right: 0.8rem;
}

.check:hover {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.active {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.priority3.check {
  background-image: url(../../assets/svg/circle-regular-red.svg);
}

.priority3.check:hover {
  background-image: url(../../assets/svg/circle-check-solid-red.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(255, 0, 0, 0.5); /* Red */
}

.priority3.check.active {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(255, 0, 0, 0.5); /* Red */
}

.priority2.check {
  background-image: url(../../assets/svg/circle-regular-organge.svg);
}

.priority2.check:hover {
  background-image: url(../../assets/svg/circle-check-solid-orange.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(255, 165, 0, 0.5); /* Orange */
}

.priority2.check.active {
  background-image: url(../../assets/svg/circle-check-solid-orange.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(255, 165, 0, 0.5); /* Orange */
}

.priority1.check {
  background-image: url(../../assets/svg/circle-regular-blue.svg);
}

.priority1.check:hover {
  background-image: url(../../assets/svg/circle-check-solid-blue.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(13, 110, 253, 0.5); /* Blue */
}

.priority1.check.active {
  background-image: url(../../assets/svg/circle-check-solid-blue.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(13, 110, 253, 0.5); /* Blue */
}

.priority0.check {
  background-image: url(../../assets/svg/circle-regular.svg);
}

.priority0.check:hover {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(0, 128, 0, 0.5); /* Green */
}

.priority0.check.active {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(0, 128, 0, 0.5); /* Green */
}

.text-time {
  display: flex;
  color: #5eb06f;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 2.2rem;
}
.text-time > fa-icon {
  margin-left: 0.5rem;
  color: #6c757d;
}

.text-event {
  margin-left: auto;
  color: rgba(33, 37, 41);
}

.task-container:hover .text-event {
  display: none;
}

.options-buttons {
  display: none !important;
}

.task-container:hover .options-buttons {
  display: flex !important;
}

.btn-outline-light {
  color: #6c757d;
  border: transparent;
  font-size: large;
}

.btn-outline-light:hover {
  color: #000;
}

.btn-outline-light > input[type="date"] {
  width: 22px;
  border: transparent;
  padding: 0px;
  margin: 0px;
}

.btn-outline-light > input[type="time"] {
  width: 30px;
  border: transparent;
  padding: 0px;
  margin: 0px;
}

.notFoundPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 8rem 5rem 8rem;
}

.task-modal-container{
  width: fit-content;
}

@media (min-width: 1440px) {
  .background {
    height: 100%;
    width: 70%;
    margin-right: 2rem;
    background-image: url(../../assets/img/fondo.png);
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 1439px) {
  .notFoundPage {
    background-image: url(../../assets/img/fondo.png);
    background-size: cover;
    background-position: center;
    justify-content: start;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
  }

  .message-error {
    margin-top: 10rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    width: 65%;
  }

}

@media (max-width: 768px) {
  .notFoundPage {
    background-image: url(../../assets/img/fondo.png);
    background-size: cover;
    background-position: center;
    justify-content: start;
    align-items: end;
    padding: 2rem 4rem 2rem 4rem;
  }

  .message-error {
    margin-top: 10rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
  }
}
