<div *ngIf="hasTasks()" class="inbox">
    <div *ngFor="let dateGroup of sortedTaskList | keyvalue" class="mt-5">
        <h2>{{dateGroup.key | dateFormat }}</h2>
        <div *ngFor="let envGroup of dateGroup.value | keyvalue" class="environment-container">
            <h5>{{ getEnvironment(envGroup.key)?.name || 'Otras tareas' }}</h5>
            <hr>
            <div *ngFor="let task of envGroup.value; let i = index trackBy: trackByTaskId" class="task-list">
                <div class="row task-container">
                    <div class="col">
                        <button type="button" class="btn check" [ngClass]="getPriorityClass(task)"
                            (click)="taskDone($event, task)"></button>
                        <span class="m-0">{{task.description}}</span>
                        <div class="d-flex">
                            <div class="text-time">
                                <p class="mb-1">{{task.time || 'Sin hora'}}</p>
                                <fa-icon [icon]="faClock"></fa-icon>
                            </div>
                            <div *ngIf="getEnvironment(envGroup.key)" class="text-event">
                                {{task.event}}
                                <fa-icon [icon]="faHashtag"
                                    [ngStyle]="{'color': getColorEvent(getEnvironment(envGroup.key),task.event)}"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto options-buttons d-flex justify-content-center align-items-center">
                        <button class="btn btn-outline-light" (click)="openModal('taskDescription',task)"
                            placement="start" ngbTooltip="Editar description" triggers="hover">
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </button>
                        <button class="btn btn-outline-light" placement="start" ngbTooltip="Cambiar fecha"
                            triggers="hover">
                            <input type="date" [min]="minDate" (change)="onDateChange($event,task)">
                        </button>
                        <button class="btn btn-outline-light" placement="start" ngbTooltip="Cambiar hora"
                            triggers="hover">
                            <input type="time" [min]="minTime" (change)="onTimeChange($event,task)">
                        </button>
                    </div>
                    <hr class="mt-1">
                </div>
            </div>
            <app-task-modal [claseCSS]="claseCSS" [date]="dateGroup.key"></app-task-modal>
        </div>
    </div>

    <div class="modal" aria-hidden="false" role="dialog" id="taskDescription">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body mb-3">
                    <div class="d-flex mb-3">
                        <button type="button" class="btn-close ms-auto" aria-label="Close"
                            (click)="closeModal()"></button>
                    </div>
                    <input type="text" (keyup.enter)="changeTaskDescription()" class="form-control fs-4 form-title"
                        placeholder="Descripción de la Tarea" #description>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary" (click)="changeTaskDescription()">Cambiar
                        descripción</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!hasTasks()" class="notFoundPage">
    <div class="message-error">
        <h1>¡Qué suerte!</h1>
        <h3 *ngIf="data[0] === 'date'">No hay ninguna tarea para esta fecha.</h3>
        <h3 *ngIf="data[0] === 'event'">No hay ninguna tarea con el evento asignado.</h3>
        <h3 *ngIf="data[0] === 'description'">No hay ninguna tarea con esta descripción.</h3>
        <h3 *ngIf="data[0] === ''">Se han completado todas las tareas de hoy.</h3>
        <p>Parece que hoy se han completado todas las tareas. Si quieres añadir otra tarea, pulsa el siguiente botón de
            abajo.</p>
        <button class="btn btn-primary">Añadir tarea</button>
        <div class="task-modal-container">
            <app-task-modal [claseCSS]="claseCSS"></app-task-modal>
        </div>
    </div>
    <div class="background"></div>
</div>