.inbox {
  width: 100%;
  padding: 3rem 7rem 6rem 7rem;
}
.inbox>div>h2{
  color: #2c5f52;
}

.environment-container{
  margin-top: 2.5rem;
}

.environment-container>h5{
  color: #101916;
}

.task-container {
  transition: opacity 0.7s ease-in-out;
}

.check {
  background-image: url(../../assets/svg/circle-regular.svg);
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  transition: background-image 0.2s ease-in-out;
  margin-right: 0.8rem;
}

.check:hover {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.active {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.task-done {
  opacity: 0;
}

.text-time {
  display: flex;
  color: #5eb06f;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 2.2rem;
}
.text-time > fa-icon {
  margin-left: 0.5rem;
  color: #6c757d;
}

.text-event {
  margin-left: auto;
  color: rgba(33, 37, 41);
}

.task-container:hover .text-event{
  display: none;
}

.options-buttons{
  display: none !important;
}

.task-container:hover .options-buttons{
  display: flex !important;
}

.btn-outline-light{
  color: #6c757d;
  border: transparent;
  font-size: large;
}

.btn-outline-light:hover{
  color: #000;
}