.inbox {
  width: 100%;
  padding: 3rem 7rem 6rem 7rem;
}

.environment-container{
  margin-top: 2.5rem;
}

.task-container {
  transition: opacity 0.7s ease-in-out;
}

.check {
  background-image: url(../../assets/svg/circle-regular.svg);
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  transition: background-image 0.2s ease-in-out;
  margin-right: 0.8rem;
}

.check:hover {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.active {
  background-image: url(../../assets/svg/circle-check-solid.svg);
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgb(21, 115, 71, 0.5);
}

.task-done {
  opacity: 0;
}

.text-time {
  display: flex;
  color: #5eb06f;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 2.2rem;
}
.text-time > fa-icon {
  margin-left: 0.5rem;
  color: #6c757d;
}

.text-event {
  margin-left: auto;
  color: rgba(33, 37, 41, 0.75);
}

.add-task {
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.add-task fa-icon {
  color: #648374;
  transition: color 0.2s ease;
  font-size: x-large;
}

.add-task span {
  color: #101916;
}

.add-task:active,
.add-task:hover {
  background-color: #648374;
  border: transparent;
}

.add-task:active span,
.add-task:hover span {
  color: #e3e5d8 !important;
}
.add-task:active fa-icon,
.add-task:hover fa-icon {
  color: #fff;
}

.description-task{
  background-color: transparent !important;
  border: transparent;
}

#addTaskModal .modal-dialog{
  max-width:700px !important;
}

.modal-body .btn-info{
  border-color: #355245;
}

.modal-body .btn-info:active{
  color: #fff;
}

#selectEnvironment .btn-light{
  width: 100%;
  text-align: start;
}

#selectEnvironment h2{
  color: #2c5f52;
}
