.description-task {
  background-color: transparent !important;
  border: transparent;
}

#addTaskModal .modal-dialog {
  max-width: 700px !important;
}

.modal-body .btn-info {
  border-color: #355245;
}

.modal-body .btn-info:active {
  color: #fff;
}

#selectEnvironment .btn-light {
  width: 100%;
  text-align: start;
}

#selectEnvironment h2 {
  color: #2c5f52;
}

.add-task-main {
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.add-task-main fa-icon {
  color: #648374;
  transition: color 0.2s ease;
  font-size: x-large;
}

.add-task-main span {
  color: #101916;
}

.add-task-main:active,
.add-task-main:hover {
  background-color: #648374;
  border: transparent;
}

.add-task-main:active span,
.add-task-main:hover span {
  color: #e3e5d8 !important;
}
.add-task-main:active fa-icon,
.add-task-main:hover fa-icon {
  color: #fff;
}

.btn-info span {
  color: #e3e5d8 !important;
}
