/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Noto Serif", serif !important;
}
body{
    padding-left: 18rem;
}
.btn-add, .btn-add>*{
    color: #E3E5D8 !important;
    font-weight: 600 !important;
}

.modal{
    display: none;
    opacity: 0;
    transition: opacity .25s linear;
}
.showModal{
    display: block !important;
    opacity: 1 !important;
}

@media (max-width: 425px) {
    body{
        padding-left: 0rem;
        padding-top: 3.5rem;
    }
}

@media (min-width: 426px) and (max-width: 991px) {
    body{
        padding-left: 0rem;
        padding-top: 7rem;
    }
}

